body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    color: white;
    font-size:40px;
}

p {
    color: lightgray;
}

.header, .footer, .content-1 {
    background-color: #1F2937;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: lightgray;
}

.header, .footer, .content, .content-1 ,.content-2, .content-3,.content-4{
    display: flex;
}

.header {
    /* background-color: #1F2937; */
    height: auto;
    /* display: flex; */
    color: white;
    justify-content: space-between;
    padding: 0px 150px;
    align-items: center;
}


.content{
    flex-direction: column;
    flex: 1;
}

.content-1 {
    /* height: 300px; */
    align-items: center;
    justify-content: space-between;
    padding: 100px 150px;
    gap: 50px;
}

.content-1-left {
    flex: 1;
}

.placeholder-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 150px 100px;
    flex: 1;
}

.content-2 {
    padding: 50px 250px 100px 250px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.placeholder-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 0;
    flex: 1;
}

.sq-img-text_container {
    display: flex;
    justify-content: space-between;
    gap: 36px;
}
.sq-img-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sq-img-text p {
    text-align: center;
    color: darkgray;
    width: 150px;
}
.sq-img {
    /* border: 3px solid #3882f6; */
    border-radius: 16px;
    height: 150px;
    width: 150px;
}

.content-3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 225px;
    background-color: #E5E7EB;
    gap: 24px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    font-style: italic;
}
.quote-source {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-self: flex-end;
}

.content-4 {
    margin: 100px 150px;
    background-color: #3882f6;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.content-4-text {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content-4-text .call-to-action_header {
    font-weight: bold;
    font-size: 18px;
}

.content-4-text .call-to-action_subtitle {
    color: lightgray;
    font-weight: 100;
    font-size: 14px;
}
.footer {
    /* background-color: #1F2937; */
    color: white;
    height: 50px;
    padding: 24px 16px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 8px 24px;
    border-radius: 8px;
    font-weight: bold;
}

.content-1-left button {
    border: 1px solid #1F2937;
}
.content-4 button {
    border: 1px solid white;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

