body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: lightgray;
}

.header {
    background-color: #1F2937;
    height: auto;
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 0px 16px;
    align-items: center;
}

.footer {
    background-color: #1F2937;
    color: white;
    height: 50px;
    padding: 0px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

