body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    color: white;
}

p {
    color: lightgray;
}

.header, .footer, .content-1 {
    background-color: #1F2937;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: lightgray;
}

.header, .footer, .content, .content-1 ,.content-2, .content-3,.content-4{
    display: flex;
}

.header {
    /* background-color: #1F2937; */
    height: auto;
    /* display: flex; */
    color: white;
    justify-content: space-between;
    padding: 0px 16px;
    align-items: center;
}


.content{
    flex-direction: column;
    flex: 1;
}

.content-1 {
    /* height: 300px; */
    align-items: center;
    justify-content: space-between;
    padding: 100px 150px;
    gap: 36px;
}

.content-2 {
    padding: 50px 150px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.placeholder-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 150px 100px;
    flex: 1;
}

.sq-img-text_container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.sq-img-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sq-img-text p {
    text-align: center;
    color: darkgray;
}
.sq-img {
    border: 3px solid #3882f6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}


.content-3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 225px;
    background-color: #E5E7EB;
    gap: 24px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    font-style: italic;
}
.quote-source {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-self: flex-end;
}
.footer {
    /* background-color: #1F2937; */
    color: white;
    height: 50px;
    padding: 0px 16px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}


